﻿@model TaskManager.Models.WorkTask
@{
    ViewData["Title"] = "Task Details";
}

<h1>Task Details</h1>
<div class="row">
    <div clas="col-md-4">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <p> @Model.Name <p />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <p> @Model.Description <p />
            </div>
            <div class="form-group">
            <label asp-for="CreatedOn" class="control-label"></label>
            <p>@Model.CreatedOn.ToString("yyyy-MM-ddTHH:mm") <p />
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <p> @Model.Status <p />
            </div>
            <div class="form-group">
                <label asp-for="AssignmentId" class="control-label"></label>
                <p> @Model.AssignmentId <p />
            </div>
            <div class="form-group">
                <label asp-for="Assignment.CreatedBy" class="control-label"></label>
                <p> @Model.Assignment.CreatedBy <p />
            </div>
            <div class="form-group">
                <label asp-for="Assignment.AssignedTo" class="control-label"></label>
                <p> @Model.Assignment.AssignedTo <p />
            </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Tasks list</a>
</div>