﻿@model IEnumerable<WorkTask>
@{
    int taskNumber = 1;
}

<h1>Work Tasks</h1>
<p>
    @Html.ActionLink("Create a new task", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignment.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignment.AssignedTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td>
                    @taskNumber
                    @{
                        taskNumber++;
                    }
                </td>
                <td>
                    @task.Name
                </td>
                <td>
                    @task.CreatedOn
                </td>
                <td>
                    @task.Assignment.CreatedBy
                </td>
                <td>
                    @task.Assignment.AssignedTo
                </td>
                <td>
                    @task.Status
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = task.Id})
                    |
                    @Html.ActionLink("Details", "Details", new {id = task.Id})
                    |
                    @Html.ActionLink("Delete", "Delete", new {id = task.Id})
                </td>
            </tr>
        }
    </tbody>
</table>